#videoBG {
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

.banner-heading{
  position: absolute;
  top: 45%;
  right: 40%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px; */
}

@media screen and (max-width: 692px) {
  .banner-heading{
    position: absolute;
    top: 45%;
    right: 20%;  
  }

  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-aspect-ratio: 16/9) {
  #v#videoBG {
    width: 100%;
    height: 100vh;
  }
}
@media (max-aspect-ratio: 16/9) {
  #v#videoBG {
    width: 100%;
    height: 100vh;
  }
}

.slick-next {
  right: -18px;
}

.slick-prev
{
    left: -18px;
}